img{
	max-width: 100%;
	max-height: 100%;
	display: block;
	width: 350px;
	height: 350px;
	overflow: hidden;
	opacity: 0.8;
	position: absolute;
	cursor: pointer;
}
.column{
	margin-top: 150px;
	margin-right: 40px;
	float: left;
	width: 30%;
	padding: 5px;
}
.rectangle{
	width: 700px;
	height: 350px;
	background-color: #DC143C;
	opacity: 0.8;
	position: absolute;
	text-align: center;
	text-align: bottom;
	display: none;
	cursor: pointer;
	font-size: xxx-large;
	font-family: Arial, Helvetica, sans-serif;
}